# System files
*.DS_Store
.idea/
new_dsg_environment/azure-vms/tests/logistic.csv

# Pyenv files
*.python-version

# Terraform config
**/config.tf

# All secrets folders, no matter how nested
secrets/
temp/